<h3>THIS is servers component</h3>
<label>Server Name </label>
<p>2 way data binding</p>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<br />
<!-- <p>event binding</p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<!-- <p>serverName is {{ serverName }}</p> -->
<p>The value is {{ allowNewServer }}</p>
<p>button will unlock in three seconds</p>
<button
  class="btn btn-primary"
  (click)="onCreateServer()"
  [disabled]="!allowNewServer"
>
  Add server
</button>
<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
<app-user></app-user>
<div style="color: blue">
  <!-- <app-server></app-server>
  <app-server></app-server> -->
  <app-server *ngFor="let s of servers"></app-server>
</div>
